<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>MTG Collection Tracker</title>
    <link rel="stylesheet"
          th:href="@{/css/demo.css}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!--<p th:text="${theData}" class="body"></p>-->

<div class="sidenav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
</div>

<div class="content">
    <h2>CSS Template</h2>
    <p>A full-height, fixed sidenav and content.</p>
</div>

</body>

</html>